<div class="row">
        <div style="margin-left: 5px">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Irregular verbs</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let unit of units" class="dropdown-item" (click)="interrogate(unit)">{{unit.name}}</button>
            </div>
          </div>
        </div>
</div>
<div *ngIf="selectedName">{{selectedName}}</div>