<div style="display: flex">
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('colour_number')" value="Színek, számok">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('0')" value="Régebbi szavak">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('1')" value="Szavak, mondatok">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('2')" value="2017.10.05">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('171010')" value="2017.10.10">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('smart_time1')" value="Smart time 1">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('3_3')" value="unit 3 C">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('4_1')" value="unit 4 A">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('4_2')" value="unit 4 B">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('kimaradt')" value="kimaradt">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('4_3')" value="unit 4 C">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('smart_world2')" value="Smart world 2">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('smart_time2')" value="Smart time 2">
    </div>
</div>
<div style="display: flex">

    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('5_1')" value="unit 5 A">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('5_2')" value="unit 5 B">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('5_3')" value="unit 5 C">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('6_1')" value="unit 6 A">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('6_2')" value="unit 6 B">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('6_3')" value="unit 6 C">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('6_3do')" value="unit 6 Cdo">
    </div>
</div>
<div style="display: flex">

    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3a')" value="3 a">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3b')" value="3 b">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3c1')" value="3 c1">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3c2')" value="3 c2">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3d1')" value="3 d1">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3d2')" value="3 d2">
    </div>
    <div style="padding-left: 10px">
        <input type="button" (click)="interrogate('ToTheTop3e')" value="3 top skill">
    </div>
</div>