<form>
    <div *ngIf="word">
        <div>

            <div style="display: flex">
                <div>{{word.from}}</div>
                <div *ngIf="word.example" style="margin-left: 10px; font-size: smaller; font-style: italic;">
                    /{{word.example}}/</div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="text" [(ngModel)]="to" name="to" autofocus [readonly]="checked" autocomplete="off"
                        id="to" class="form-control form-control-sm" />
                </div>
                <div class="col-3">
                    <input type="submit" (click)="check()" value="Ellenőrzés" *ngIf="!checked" class="btn btn-primary">
                    <input type="submit" (click)="next()" value="Tovább" *ngIf="checked" class="btn btn-primary">
                </div>
            </div>
            <label *ngIf="checked && word.pronunciation" class="col-form-label" class="col-3">
                {{word.pronunciation}}
            </label>
            <div class="alert alert-success" *ngIf="checked && !wrong" role="alert">Helyes! ({{word.to}})<div
                    *ngIf="word.translatedExample">[{{word.translatedExample}}]</div>
            </div>
            <div class="alert alert-danger" *ngIf="checked && wrong" role="alert">
                <div>helyes válasz: {{word.to}}</div>
                <div *ngIf="word.translatedExample">[{{word.translatedExample}}]</div>
            </div>


        </div>
        <div>
            <img *ngIf="word.imageUrl" [src]="getImageUrl()" />
        </div>
        <audio [src]="getAudio()" *ngIf="word.audio" id="audioplayer"></audio>
    </div>
    <div *ngIf="actualWords && !word">
        Gratulálunk! Sikeresen befejezted.
        <!--<input type="button" (click)="back()" value="Vissza">-->
    </div>
</form>
