<group-selector></group-selector>
<!--group-selector-json></!--group-selector-json-->
<form>
    <div *ngIf="word">
        <div>

            <div style="display: flex">
                <div>{{word.from}}</div>
                <div *ngIf="word.example" style="margin-left: 5px">[Példa mondat:
                    {{word.example}}]</div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="text" [(ngModel)]="to" name="to" autofocus [readonly]="checked"
                        autocomplete="off" id="to" class="form-control form-control-sm" />
                </div>
                <div class="col-3">
                    <input type="submit" (click)="check()" value="Ellenőrzés" *ngIf="!checked" class="btn btn-primary">
                    <input type="submit" (click)="next()" value="Tovább" *ngIf="checked" class="btn btn-primary">
                </div>
            </div>
            <label *ngIf="checked && word.pronunciation" class="col-form-label" class="col-3">
                {{word.pronunciation}}
            </label>
            <ngb-alert [dismissible]="false" *ngIf="checked && !wrong" type="success">Helyes! ({{word.to}})<div
                    *ngIf="word.translatedExample">[{{word.translatedExample}}]</div>
            </ngb-alert>
            <ngb-alert [dismissible]="false" *ngIf="checked && wrong" type="danger">
                <div>helyes válasz: {{word.to}}</div>
                <div *ngIf="word.translatedExample">[{{word.translatedExample}}]</div>
            </ngb-alert>


        </div>
        <div>
            <img *ngIf="word.imageUrl" [src]="getImageUrl()" />
        </div>
        <audio [src]="getAudio()" *ngIf="word.audio" id="audioplayer"></audio>
    </div>
    <div *ngIf="actualWords && !word">
        Gratulálunk! Sikeresen befejezted.
        <!--<input type="button" (click)="back()" value="Vissza">-->
    </div>
</form>