<div>
  <input type="button" (click)="interrogateHere()" value="Kikérdez" class="btn btn-secondary">
  <input type="button" (click)="interrogate()" value="Kikérdez írásban" class="btn btn-secondary">
  <input type="button" HasRole role="admin" (click)="addNew()" value="Szerkeszt" class="btn btn-secondary">
  <table class="table table-sm table-striped table-bordered table-hover">
    <tbody>
    <tr *ngFor="let guessed of words; let i=index">
      <td style="align-content: center; padding: 1px; border-right: 0">
        <div style="float: left; padding: 3px; white-space: nowrap">
          {{ toString(guessed.translation, fromLanguageId) }}
        </div>
        <label style="font-size: smaller; font-style: italic; margin: 0; white-space: nowrap"
               *ngIf="guessed.translation.example">/{{guessed.translation.example}}
          /</label>
      </td>
      <td
        style="width: 50%; padding: 1px; border-left: 0">
          <button *ngIf="!wordsDisplayed[i]" class="btn btn-outline-success btn-sm"
                  style="margin-right: 5px; padding: 0; height: 26px; width: 54px" title="Tudom"
                  (click)="answer(i, true)">
            <mat-icon aria-hidden="false" fontIcon="done"></mat-icon>
          </button>
        <button *ngIf="!wordsDisplayed[i]" class="btn btn-outline-secondary btn-sm"
                style="margin-right: 5px; padding: 0; height: 26px; width: 54px" title="Kihagyom / Megnézem"
                (click)="skip(i)">
          <mat-icon aria-hidden="false" fontIcon="last_page"></mat-icon>
        </button>
          <button *ngIf="!wordsDisplayed[i]" class="btn btn-outline-danger btn-sm" title="Nem tudom"
                  style="padding: 0; height: 26px; width: 54px" (click)="answer(i, false)">
            <mat-icon aria-hidden="false" fontIcon="question_mark"></mat-icon>
          </button>

        <button *ngIf="showYetDoNotKnow(i)"
                  class="btn btn-outline-danger btn-sm"
                  style="padding: 0; height: 26px; width: 54px" title="Mégsem tudom"
                  (click)="cancelLast(i, true)">
            <mat-icon aria-hidden="false" fontIcon="cancel"></mat-icon>
          </button>
        <button *ngIf="showYetKnow(i)"
                  class="btn btn-outline-success btn-sm"
                  style="padding: 0; height: 26px; width: 54px" title="Mégis tudom"
                  (click)="cancelLast(i, false)">
            <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
          </button>
      </td>
      <td style="border-right: 0; padding: 1px">

        <span style="white-space: nowrap"
              [ngClass]="getPhraseColor(guessed.translation)"
              *ngIf="wordsDisplayed[i]">{{ toString(guessed.translation, toLanguageId) }}
          <label style="font-size: smaller; font-style: italic; margin: 0; white-space: nowrap"
                 [ngClass]="getPhraseColor(guessed.translation)"
                 *ngIf="guessed.translation.translatedExample">/{{guessed.translation.translatedExample}}
            /</label>
        </span>
      </td>
      <td style="width: 50%; padding: 1px; border-left: 0">
        <span *ngIf="theAnswerWasRight(i)" class="text-success">
            <mat-icon aria-hidden="false" fontIcon="done"></mat-icon>
        </span>
        <span *ngIf="theAnswerWasFalse(i)" class="text-danger">
            <mat-icon aria-hidden="false" fontIcon="question_mark"></mat-icon>
        </span>
        <span *ngIf="theAnswerWasSkip(i)" class="text-secondary">
            <mat-icon aria-hidden="false" fontIcon="last_page"></mat-icon>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <input type="button" (click)="interrogateHere()" value="Kikérdez" class="btn btn-secondary">
  <input type="button" (click)="interrogate()" value="Kikérdez írásban" class="btn btn-secondary">
  <input type="button" HasRole role="admin" (click)="addNew()" value="Szerkeszt" class="btn btn-secondary">
</div>
