<div style="align-content: center; width: 100%;">
    <input type="button" (click)="interrogateHere()" value="Kikérdez" class="btn btn-secondary">
    <input type="button" (click)="interrogate()" value="Kikérdez írásban" class="btn btn-secondary">
    <input type="button" (click)="addNew()" value="Hozzáad" class="btn btn-secondary">
    <table align="center" class="table table-sm table-striped table-bordered table-hover">
        <tbody>
            <tr *ngFor="let word of words; let i=index" (click)="display(i)">
                <td style="width: 50%;">{{word.from}}</td>
                <td style="width: 50%;"><span *ngIf="wordsDisplayed[i]">{{word.to}}</span></td>
            </tr>
        </tbody>
    </table>
    <input type="button" (click)="interrogateHere()" value="Kikérdez" class="btn btn-secondary">
    <input type="button" (click)="interrogate()" value="Kikérdez írásban" class="btn btn-secondary">
    <!--input type="button" (click)="addNew()" value="Hozzáad" class="btn btn-secondary"-->
</div>